$red: rgba(255, 0, 0, 0.5);
$green: rgba(0, 255, 0, 0.5);
$blue: rgba(0, 0, 255, 0.5);
$orange: rgba(255, 165, 0, 0.5);

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    height: 100vh;
    background-image: url('../img/100_grid.jpg');
}

.container {
    width: 700px;
    height: 500px; 
    display: grid;
    grid-template-columns: 200px [sidebar-end] auto;
    grid-template-rows: 100px 300px 100px;
    background-color: rgba(128,128,128, 0.5);
}

.heading {
    background-color: $red;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.sidebar {
    background-color: $green;
    grid-column-start: 1;
    grid-column-end: sidebar-end;
    grid-row-start: 2;
    grid-row-end: 3;
}

.content {
    background-color: $blue;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.footer {
    background-color: $orange;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}