$tablet_width: 800px;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    display: flex;
    background-color: #efefef;
    padding: 1em;

    @media (min-width: $tablet_width) and (max-width: 1000px) {
        display: none;
    }

    nav {
        margin-left: auto;

        @media (max-width: 400px) {
            display: none;
        }
    }

    .burger {
        display: none;

        @media (max-width: 400px) {
            display: block;
        }
    }
}

main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    @media (max-width: 600px) {
        flex-direction: column;
    }

    article {
        flex: 1;
        margin: 1em;
    }
}

h1 {
    color: red;

    @media (min-width: $tablet_width) and (max-width: 1000px) {
        color: green;
    }
}

// @media (min-width: 800px) and (max-width: 1000px) {
//     h1 {
//         color: green;
//     }

//     header {
//         display: none;
//     }
// }

// @media (max-width: 600px) {
//     main {
//         flex-direction: column;
//     }
// }

// @media (max-width: 400px) {
//     header nav {
//         display: none;
//     }

//     header .burger {
//         display: block;
//     }
// }