@import 'variables';
@import 'mixins';

body {
    color: $primary_color;
    max-width: $desktop_screen_width;
    margin: 0 auto;
}

html {
    font-family: $main_font;
}

main {
    padding: 2em;
}

// headline
h1 {
    text-decoration: underline;
    color: $secondary_color;
    background-color: gray;
    @include rounded-box(4em);
}

@import 'components/header';

